# This file is part of the BitKeeper Regression test suite.
# All of the files in this directory are Copyright (c) 2000 BitMover, Inc.
# and are not licensed under the terms of the BKL (BitKeeper License).
# Standard copyright law applies.
# 
# Redistribution in modified form is prohibited with one exception:
#    proposed modifications may be sent back to dev@bitmover.com for
#    possible inclusion in future releases.  Sending such modifications
#    constitutes your permission for BitMover, Inc. to distribute  the
#    modifications under any license.

# Copyright (c) 2001 Amelia Graf
# Copyright (c) 1999 Andrew Chang
# Copyright (c) 2000 Larry McVoy
# %K%

echo $N Create initial repository with bogus config file ............$NL
echo "logging: none" > $HERE/c
echo "single_user:	i_am_cheap" >> $HERE/c
echo "single_host:	bitmover.com" >> $HERE/c
bk setup -f -c$HERE/c project 2> /dev/null
if [ -d project ]; then echo setup succeeded with BAD config file; exit 1; fi
echo OK

echo $N Check spaces in config file .................................$NL
rm -rf project c
no_logging project
bk edit $Q BitKeeper/etc/config
echo 'logging:none' > BitKeeper/etc/config
echo 'single_user:	 bk ' >> BitKeeper/etc/config
echo single_host: free.bk >> BitKeeper/etc/config
echo description :BitKeeper Test repository >> BitKeeper/etc/config
echo eoln: unix >> BitKeeper/etc/config
echo 'keyword      	: sccs' >> BitKeeper/etc/config
echo 'license:' >> BitKeeper/etc/config
echo '[wahho] checkout: get   ' >> BitKeeper/etc/config
echo 'email :' >> BitKeeper/etc/config
echo 'trail: ' >> BitKeeper/etc/config
echo 'foo:  bar   ' >> BitKeeper/etc/config
bk delta $Q -ywatever BitKeeper/etc/config
bk _lconfig 2>OUT
grep -q 'get hash' OUT && {
	echo failed
	cat OUT
}
echo OK
