# Copyright 2001-2002,2005,2015-2016 BitMover, Inc

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

echo $N Check spaces in config file .................................$NL
rm -rf project c
commercial project
bk edit $Q BitKeeper/etc/config
echo description :BitKeeper Test repository > BitKeeper/etc/config
echo eoln: unix >> BitKeeper/etc/config
echo 'keyword      	: sccs' >> BitKeeper/etc/config
echo 'license:' >> BitKeeper/etc/config
echo '[wahho] checkout: get   ' >> BitKeeper/etc/config
echo 'email :' >> BitKeeper/etc/config
echo 'trail: ' >> BitKeeper/etc/config
echo 'foo:  bar   ' >> BitKeeper/etc/config
bk delta $Q -ywatever BitKeeper/etc/config
echo OK

echo $N Test config -v with aliased variables........................$NL
cd "$HERE"/project
bk edit $Q BitKeeper/etc/config
echo auto-populate: yes >> BitKeeper/etc/config
BK_CONFIG=autopopulate:no\! bk config -v | grep populate> GOT 
cat <<EOF > WANT
#	auto_populate:  yes
	auto_populate:  no!
#	auto_populate:  off
EOF
cmpfiles WANT GOT
echo OK

echo $N Test setting cfg via alias...................................$NL
BK_CONFIG=autopopulate:no\! bk config auto_populate > GOT
echo no > WANT
cmpfiles WANT GOT
echo OK
