# This file is part of the BitKeeper Regression test suite.
# All of the files in this directory are Copyright (c) 2000 BitMover, Inc.
# and are not licensed under the terms of the BKL (BitKeeper License).
# Standard copyright law applies.
# 
# Redistribution in modified form is prohibited with one exception:
#    proposed modifications may be sent back to dev@bitmover.com for
#    possible inclusion in future releases.  Sending such modifications
#    constitutes your permission for BitMover, Inc. to distribute  the
#    modifications under any license.

# Copyright (c) 2001 Amelia Graf
# Copyright (c) 1999 Andrew Chang
# Copyright (c) 2000 Larry McVoy
# %K%

echo $N Create initial repository with bogus config file ............$NL
echo "logging: none" > $HERE/c
echo "single_user:	i_am_cheap" >> $HERE/c
echo "single_host:	bitmover.com" >> $HERE/c
bk setup -f -c$HERE/c project 2> /dev/null
if [ -d project ]; then echo setup succeeded with BAD config file; exit 1; fi
echo OK

## it may be okay if the config file was not checked in. XXX ask lm/awc
#echo $N Check if BitKeeper/etc/config file was checked in ...........$NL
#S=`bk -r sfiles -gx | wc -l`
#if [ $S -ne 0 ]; then echo config file was not checked-in; exit 1; fi
#echo OK
#
#echo $N Check for core dump if committing an incorrect config file ..$NL
## need to check in bad config in order to test core dump.
#bk new BitKeeper/etc/config
#bk commit -d
## P=`bk pending | wc -l`
## if [ $P -ne 0 ]; then echo failed to commit config file
#C=`ls core | wc -l`
#if [ $C -ne 0 ]; then echo dumped core on commit; exit 1; fi
#echo OK
