#include <windows.h>
#include <afxres.h>
#include "winuser.h"
#include "winver.h"
#include "resources.h"
#include "rcver.h"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "installer.manifest"

IDC_MYICON ICON "../win32/data/box_software.ico"

IDD_DIALOG1 DIALOGEX 0, 0, 186, 50
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | 
    WS_CAPTION | WS_SYSMENU
CAPTION "Extracting BitKeeper Installer"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON	"Cancel",IDCANCEL,65,29,50,14
END

#define	VER_COMPANYNAME_STR	"BitKeeper Inc.\0"
#define	VER_FILEDESCRIPTION_STR	"BitKeeper Installer\0"
#define	VER_LEGALCOPYRIGHT_STR 	"Copyright (c) 2015, BitKeeper Inc.\nAll Rights Reserved.\0"
#define	VER_PRODUCTNAME_STR	"BitKeeper\0"

#ifndef DEBUG
#define	VER_DEBUG	0
#else
#define	VER_DEBUG	VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION	VER_FILEVERSION
PRODUCTVERSION	VER_PRODUCTVERSION
FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
FILEFLAGS	VS_FFI_FILEFLAGSMASK
FILEOS		VOS__WINDOWS32
FILETYPE	VFT_APP
FILESUBTYPE	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */

        VALUE "Translation", 0x409, 1252

    END
END
