*.o
*.a

bk
bkver.c
cmd.c
cmd.h
conf.mk
kw2val_lookup.c
bkhelp.txt
bkmsg.txt
substvars
bk.script
import
uuwrap
unuuwrap
gzip_uuwrap
ungzip_uuwrap
b64wrap
unb64wrap
gzip_b64wrap
ungzip_b64wrap
version
