body {
  font-size:14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
}
#sidebar {
  float: left;
  padding-right: 10px;
  overflow: scroll;
  float: left;
  width: 9em;
  height: 100%;
  position: fixed;
}
#sidebar ul {
  list-style-type:none;
  margin:0;
  padding:0 0 0 5px;
}
#content {
  float: left;
  margin-left: 10em;
  padding-left: 5px;
}
